/* font style */
@font-face{
  font-family: "Pirate";
  src: url("./__MACOSX/pirates-of-the-caribbean/._Caribbean.ttf")
}

body{
  font-family: "Pirate";
  height: 100%;
  width: 100%;
  
}

/* grid layout */
.container{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas: 
    "header header header"
    "leftSidebar main rightSidebar"
    "footer footer footer";
  height: 100vh;
  background-image: url("./images/Pirate-Bay-Map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 /* main area */
.main{
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-image: url("./images/vintage-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

.box .box {
  background-color: #ccc;
  color: #444;
}
.box .box .box {
  background: transparent;
  color: #471d0d;

}

.command{
  height: 30px;
  width: 100px;
  background-color: #461e0f;
  color: #f2d798;
}

#answers{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

